<%# <h1>Trees#index</h1>
<p>Find me in app/views/trees/index.html.erb</p> %>

<div class="container">
  <h1 class="mt-5 mb-4">Trees in Winnipeg</h1>
  <style>
    .custom-link {
      color: black;
    }
  </style>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">Botanical Name</th>
            <th class="col-md-4">Common Name</th>
            <th class="col-md-4">Location Class</th>
          </tr>
        </thead>
        <tbody>
          <% @trees.each do |tree| %>
            <tr>
              <td class="col-md-4"><%= link_to tree.botanical_name, tree_path(tree), class: "custom-link" %></td>
              <td class="col-md-4"><%= tree.common_name %></td>
              <td class="col-md-4"><%= tree.location_class %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="Page navigation example" class="Page">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
          <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
          <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
          <li class="page-item"><a class="page-link" href="?page=6">6</a></li>
          <li class="page-item"><a class="page-link" href="?page=7">7</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
