<%# <h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p> %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src='https://source.unsplash.com/random/400x300?trees' alt='Nature Image' class="img-fluid mb-3" style="height: 100%;" />
    </div>
    <div class="col-md-6">
      <h1 class="text-center mb-4">Winnipeg Woodland</h1>
      <p>
        Winnipeg Woodland is the ultimate guide to exploring the natural beauty of Winnipeg. This website is dedicated to promoting environmental conservation and showcasing the diverse trees of Winnipeg. It also provides detailed information about the trees and their location. Whether you're a nature enthusiast, a hiker, or simply someone who enjoys the outdoors, Winnipeg Woodland has something for everyone.
        <br><br>
        The dataset used in this website is sourced from the City of Winnipeg's tree inventory. It includes detailed information about various tree species, their locations, and significant details. The dataset is structured with various attributes such as tree_id, botanical_name, common_name, diameter_at_breast_height, location_class, park, streets, and neighbourhood. To store this data efficiently, I have created database tables with appropriate columns to accommodate each attribute. By establishing connections between these tables through data associations, the website ensures smooth and effective data retrieval and management. This structured approach allows users to explore Winnipeg's tree diversity seamlessly while promoting environmental awareness and sustainable practices. The users will be able to view a list of all trees in Winnipeg and also search for any specific trees. This website will also allow them to view more details about the trees. All this is possible by fetching the data from the dataset.
      </p>
    </div>
  </div>
</div>

